.taskList {
    margin: 0px;
    padding: 20px;
    list-style-type: none;
}

.taskList__task {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 10px;
}

.taskList__task--done {
    text-decoration-line: line-through;
}

.taskList__task--hidden {
    display: none;
}

.taskList__button {
    border: none;
    height: 30px;
    width: 30px;
    color: white;
    padding: 0;
    transition: 0.3s;
    cursor: pointer;
}

.taskList__button--toggleDone{
    background-color: hsl(120, 100%, 25%);
}

.taskList__button--toggleDone:hover {
    background-color: hsl(120, 100%, 35%);
}

.taskList__button--toggleDone:active {
    background-color: hsl(120, 100%, 45%);
}

.taskList__button--remove {
    background-color: hsl(0, 100%, 40%);
}

.taskList__button--remove:hover {
    background-color: hsl(0, 86%, 60%);
}

.taskList__button--remove:active {
    background-color: hsl(1, 100%, 50%);
}