.buttons {
    display: flex;
    flex-wrap: wrap;
}

.buttons__button {
    border: none;
    background-color: transparent;
    padding: 10px;
    color: teal;
    margin: 0 0 0 20px;
    transition: 0.3s;
}

.buttons__button:hover {
    color: hsl(180, 100%, 35%);
}

.buttons__button:disabled {
    color: #bbb;
}


@media (max-width: 767px) {
    .buttons__button {
    flex-basis: 100%;
    margin: 10px;
    }
} 